./target
target/
target
**/*.rs.bk
_build
build
dist
.buildconfig
*.ui~
.ui~
./.cargo
.cargo
resources.gresource
*.gresource
tags.*
/_build/
/target/
**/*.rs.bk
/tags
/.idea/
.buildconfig
**/#*.glade#
**/*.glade~
**/*.json~
**/*.ui~
**/*.gresource
**/#*#
**/tags.*
config.rs
packages.db
src/config.rs
